ul.cart-items
  li.cart-items__item.js-cart-item
    .cart-items__info
      a.cart-items__img(href="#")
        +picture-png-webp("cart-item", 140, 136, "Стайлер Dyson HS01 Airwrap")
      .cart-items__description
        p.cart-items__title Описание
        a.cart-items__name(href="#") Фен Dyson Supersonic для волос
        p.cart-items__text
          span 30-мм цилиндрические насадки Airwrap для завивки
          span 40-мм цилиндрические насадки Airwrap для завивки
          span Жесткая щетка для выпрямления
          span Круглая щетка для создания объема
          span Насадка для сушки
    .cart-items__controls
      .cart-items__cost
        p.cart-items__title Цена
        span.cart-items__price 31 990
         span  ₽
      .cart-items__quantity
        p.cart-items__title Количество
        .quantity-block
          button.quantity-block__btn.quantity-block__btn--minus(type="button" title="Уменьшить количество")
          label.visually-hidden(for="cart-item-1")
          input(type="text" value="2" name="cart-item-1" id="cart-item-1" data-min="1" data-max="999" title="Количество")
          button.quantity-block__btn.quantity-block__btn--plus(type="button" title="Увеличить количество")
      .cart-items__amount
        p.cart-items__title Итог
        span.cart-items__price 61 980
         span  ₽
    button.cart-items__btn.button-close.js-remove-btn(type="button" title="Удалить из корзины")

  li.cart-items__item.js-cart-item
    .cart-items__info
      a.cart-items__img(href="#")
        +picture-png-webp("cart-item", 140, 136, "Стайлер Dyson HS01 Airwrap")
      .cart-items__description
        p.cart-items__title Описание
        a.cart-items__name(href="#") Фен Dyson Supersonic для волос
        p.cart-items__text
          span 30-мм цилиндрические насадки Airwrap для завивки
          span 40-мм цилиндрические насадки Airwrap для завивки
          span Жесткая щетка для выпрямления
          span Круглая щетка для создания объема
          span Насадка для сушки
    .cart-items__controls
      .cart-items__cost
        p.cart-items__title Цена
        span.cart-items__price 31 990
         span  ₽
      .cart-items__quantity
        p.cart-items__title Количество
        .quantity-block
          button.quantity-block__btn.quantity-block__btn--minus(type="button" title="Уменьшить количество")
          label.visually-hidden(for="cart-item-2")
          input(type="text" value="2" name="cart-item-2" id="cart-item-2" data-min="1" data-max="999" title="Количество")
          button.quantity-block__btn.quantity-block__btn--plus(type="button" title="Увеличить количество")
      .cart-items__amount
        p.cart-items__title Итог
        span.cart-items__price 61 980
         span  ₽
    button.cart-items__btn.button-close.js-remove-btn(type="button" title="Удалить из корзины")


  li.cart-items__item.js-cart-item
    .cart-items__info
      a.cart-items__img(href="#")
        +picture-png-webp("cart-item", 140, 136, "Стайлер Dyson HS01 Airwrap")
      .cart-items__description
        p.cart-items__title Описание
        a.cart-items__name(href="#") Фен Dyson Supersonic для волос
        p.cart-items__text
          span 30-мм цилиндрические насадки Airwrap для завивки
          span 40-мм цилиндрические насадки Airwrap для завивки
          span Жесткая щетка для выпрямления
          span Круглая щетка для создания объема
          span Насадка для сушки
    .cart-items__controls
      .cart-items__cost
        p.cart-items__title Цена
        span.cart-items__price 31 990
         span  ₽
      .cart-items__quantity
        p.cart-items__title Количество
        .quantity-block
          button.quantity-block__btn.quantity-block__btn--minus(type="button" title="Уменьшить количество")
          label.visually-hidden(for="cart-item-3")
          input(type="text" value="2" name="cart-item-3" id="cart-item-3" data-min="1" data-max="999" title="Количество")
          button.quantity-block__btn.quantity-block__btn--plus(type="button" title="Увеличить количество")
      .cart-items__amount
        p.cart-items__title Итог
        span.cart-items__price 61 980
         span  ₽
    button.cart-items__btn.button-close.js-remove-btn(type="button" title="Удалить из корзины")
