.order-registration-form {
  &__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;

    max-width: 780px;
    width: 100%;

    @media (max-width: $mobile) {
      max-width: 100%;
    }
  }

  &__item {
    max-width: 100%;
    min-width: 265px;
    flex-grow: 2;

    width: 47%;
    margin-bottom: 24px;
    margin-right: 3%;
    padding: 35px 35px 15px;

    background-color: $white;

    @media (max-width: $mobile) {
      margin-right: 0;
      margin-bottom: 20px;
      padding: 10px;
    }
  }

  &__title {
    display: block;

    width: 100%;
    margin: 0 0 30px;
    padding: 0;

    @include font-sb(16px, 1.2, $black-12);
  }
}
