.order-registration-info
  .order-registration-info__item
    .order-registration-info__title Стоимость заказа
    .order-registration-info__price <span>144 900</span> ₽
  .order-registration-info__item
    .order-registration-info__title Скидка
    .order-registration-info__price.order-registration-info__price--small <span>5 900</span> ₽
    .order-registration-info__title Cтоимость доставки
    .order-registration-info__text Курьерская доставка по Москве в пределах МКАД:
    .order-registration-info__price.order-registration-info__price--small <span>700</span> ₽
  .order-registration-info__item
    .order-registration-info__title Итого к оплате:
    .order-registration-info__price <span>142 600</span> ₽
  button.order-registration-info__submit(type="submit")
    +svg("box", 22, 25)
    | Оформить заказ
