html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

.visually-hidden,
input[type="checkbox"],
input[type="radio"] {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

body {
  width: 100%;
  min-width: $width-min;

  @include font-r(15px, 1.2, $black-3);
}

.scroll-hidden {
  overflow: hidden;
  height: 100vh;
}

.scroll-hidden.scrollbar {
  padding-right: 15px;
}

img {
  max-width: 100%;

  object-fit: cover;
}

input {
  appearance: none;

  &::-ms-clear {
    display: none;
  }

  &::-ms-reveal {
    display: none;
  }

  &::-webkit-credentials-auto-fill-button,
  &::-webkit-caps-lock-indicator {
    visibility: hidden;
    pointer-events: none;
    position: absolute;
    right: 0;
  }
}

header,
main,
footer {
  width: 100%;
}

.sprite {
  display: none;
}

.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;

  width: 100%;
  min-height: 100vh;
}

.container {
  max-width: 1286px;
  width: 100%;
  margin: 0 auto;
  padding: 0 73px;

  &--np {
    padding: 0;
  }

  @media (max-width: $tablet) {
    padding: 0 20px;
  }

  @media (max-width: $mobile) {
    padding: 0 10px;
  }
}

.page-title {
  max-width: 714px;
  width: 100%;
  margin: 0 0 35px;
  padding: 0 0 0 40px;

  @include font-b(36px, 1.2, $black-4);

  @media (max-width: $mobile) {
      padding-left: 15px;

      font-size: 30px;
    }
}
