@mixin font-r($size, $height, $color) {
  font-family: $font-main;
  font-size: $size;
  line-height: $height;
  font-weight: 400;
  color: $color;
}
@mixin font-m($size, $height, $color) {
  font-family: $font-main;
  font-size: $size;
  line-height: $height;
  font-weight: 500;
  color: $color;
}
@mixin font-b($size, $height, $color) {
  font-family: $font-main;
  font-size: $size;
  line-height: $height;
  font-weight: 700;
  color: $color;
}
@mixin font-sb($size, $height, $color) {
  font-family: $font-main;
  font-size: $size;
  line-height: $height;
  font-weight: 600;
  color: $color;
}
