.advantages
  .container
    h2.visually-hidden Преимущества
    ul.advantages__list
      li.advantages__item
        +svg("cube", 48, 46)
        p Доставка по Москве за 2 часа
      li.advantages__item
        +svg("cube", 48, 46)
        p Доставка по России за 2-3 дня
      li.advantages__item
        +svg("shild", 40, 49)
        p Гарантия на продукцию 2 года
