.product-tabs.js-tabs
  .product-tabs__wrapper.container
      input.tab-btn-1(type="radio" name="tab-btn" id="tab-btn-1" checked)
      label(for="tab-btn-1" data-tabs="1") Характеристики
      input.tab-btn-2(type="radio" name="tab-btn" id="tab-btn-2")
      label(for="tab-btn-2" data-tabs="2") Инструкции и сертификаты
      input.tab-btn-3(type="radio" name="tab-btn" id="tab-btn-3")
      label(for="tab-btn-3" data-tabs="3") Аксессуары
      input.tab-btn-4(type="radio" name="tab-btn" id="tab-btn-4")
      label(for="tab-btn-4" data-tabs="4") Видео

      .product-tabs__content.js-tabs-content.content-1(data-tabs="1")
        .content-table
          .content-table__container
            table
              caption Технические характеристики
              tr
                td Мощьность
                td 1300 Вт
              tr
                td Скорость воздушного потока
                td 13.5 л/с
              tr
                td Напряжение
                td 220-240 B
              tr
                td Длина шнура
                td 2.675 м
              tr
                td Вес
                td 0.581 кг

        .content-table
          .content-table__container
            table
              caption Управление
              tr
                td Управление
                td механическое
              tr
                td Количество скоростей
                td 3
              tr
                td Количество температурных режимов
                td 3

        .content-table
          .content-table__container
            table
              caption Насадки
              tr
                td Цилиндрические насадки 30-мм
                td 2
              tr
                td Цилиндрические насадки 40-мм
                td 2
              tr
                td Жесткая щетка для выпрямления волос
                td да
              tr
                td Мягкая щетка для выпрямления волос
                td да
              tr
                td Круглая щетка для создания объема
                td да
              tr
                td Насадка для сушки волос перед укладкой
                td да

        .content-table
          .content-table__container
            table
              caption Дополнительные характеристики
              tr
                td Обдув холодным воздухом
                td да
              tr
                td Ионизация
                td да
              tr
                td Система контроля температуры
                td да

        .content-table
          .content-table__container
            table
              caption Цвет и материал
              tr
                td Цвет
                td серый, фуксия
              tr
                td Материал корпуса
                td пластик
              tr
                td Материал чехла
                td экокожа

      .product-tabs__content.js-tabs-content.content-2(data-tabs="2")
        .content-table
          .content-table__container
            table
              caption Насадки
              tr
                td Цилиндрические насадки 30-мм
                td 2
              tr
                td Цилиндрические насадки 40-мм
                td 2
              tr
                td Жесткая щетка для выпрямления волос
                td да
              tr
                td Мягкая щетка для выпрямления волос
                td да
              tr
                td Круглая щетка для создания объема
                td да
              tr
                td Насадка для сушки волос перед укладкой
                td да

        .content-table
          .content-table__container
            table
              caption Дополнительные характеристики
              tr
                td Обдув холодным воздухом
                td да
              tr
                td Ионизация
                td да
              tr
                td Система контроля температуры
                td да

        .content-table
          .content-table__container
            table
              caption Цвет и материал
              tr
                td Цвет
                td серый, фуксия
              tr
                td Материал корпуса
                td пластик
              tr
                td Материал чехла
                td экокожа

        .content-table
          .content-table__container
            table
              caption Дополнительные характеристики
              tr
                td Обдув холодным воздухом
                td да
              tr
                td Ионизация
                td да
              tr
                td Система контроля температуры
                td да

      .product-tabs__content.js-tabs-content.content-3(data-tabs="3")
        .content-table
          .content-table__container
            table
              caption Управление
              tr
                td Управление
                td механическое
              tr
                td Количество скоростей
                td 3
              tr
                td Количество температурных режимов
                td 3

        .content-table
          .content-table__container
            table
              caption Насадки
              tr
                td Цилиндрические насадки 30-мм
                td 2
              tr
                td Цилиндрические насадки 40-мм
                td 2
              tr
                td Жесткая щетка для выпрямления волос
                td да
              tr
                td Мягкая щетка для выпрямления волос
                td да
              tr
                td Круглая щетка для создания объема
                td да
              tr
                td Насадка для сушки волос перед укладкой
                td да

        .content-table
          .content-table__container
            table
              caption Дополнительные характеристики
              tr
                td Обдув холодным воздухом
                td да
              tr
                td Ионизация
                td да
              tr
                td Система контроля температуры
                td да

        .content-table
          .content-table__container
            table
              caption Дополнительные характеристики
              tr
                td Обдув холодным воздухом
                td да
              tr
                td Ионизация
                td да
              tr
                td Система контроля температуры
                td да

      .product-tabs__content.js-tabs-content.content-4(data-tabs="4")
        .content-table
          .content-table__container
            table
              caption Управление
              tr
                td Управление
                td механическое
              tr
                td Количество скоростей
                td 3
              tr
                td Количество температурных режимов
                td 3

        .content-table
          .content-table__container
            table
              caption Дополнительные характеристики
              tr
                td Обдув холодным воздухом
                td да
              tr
                td Ионизация
                td да
              tr
                td Система контроля температуры
                td да

        .content-table
          .content-table__container
            table
              caption Дополнительные характеристики
              tr
                td Обдув холодным воздухом
                td да
              tr
                td Ионизация
                td да
              tr
                td Система контроля температуры
                td да
