.product-description
  h2.product-description__title Основные характеристики

  p.product-description__text С насадками для длинных волос
  p.product-description__text Создание локонов и волн
  p.product-description__text Разглаживание
  p.product-description__text Высушивание волос
  p.product-description__text Без экстремальных температур
  p.product-description__text Подходит для разных типов волос

  h2.product-description__title Основные характеристики

  p.product-description__text 30-мм цилиндрические насадки Airwrap для завивки
  p.product-description__text 40-мм цилиндрические насадки Airwrap для завивки
  p.product-description__text Жесткая щетка для выпрямления
  p.product-description__text Круглая щетка для создания объема
  p.product-description__text Насадка для сушки
