.product-gallery
  .product-gallery__top
    ul.product-gallery__top-list.swiper-wrapper
      li.product-gallery__top-item.swiper-slide
        +picture-png-webp("product-big", 418, 371, "Slide")
      li.product-gallery__top-item.swiper-slide
        +picture-png-webp("product-big", 418, 371, "Slide")
      li.product-gallery__top-item.swiper-slide
        +picture-png-webp("product-big", 418, 371, "Slide")
      li.product-gallery__top-item.swiper-slide
        +picture-png-webp("product-big", 418, 371, "Slide")
      li.product-gallery__top-item.swiper-slide
        +picture-png-webp("product-big", 418, 371, "Slide")
      li.product-gallery__top-item.swiper-slide
        +picture-png-webp("product-big", 418, 371, "Slide")

  span.product-gallery__text Галерея

  .product-gallery__thumbs
    ul.product-gallery__thumbs-list.swiper-wrapper
      li.product-gallery__thumbs-item.swiper-slide
        +picture-png-webp("product-small-1", 84, 84, "Slide")
      li.product-gallery__thumbs-item.swiper-slide
        +picture-png-webp("product-small-2", 84, 84, "Slide")
      li.product-gallery__thumbs-item.swiper-slide
        +picture-png-webp("product-small-1", 84, 84, "Slide")
      li.product-gallery__thumbs-item.swiper-slide
        +picture-png-webp("product-small-1", 84, 84, "Slide")
      li.product-gallery__thumbs-item.swiper-slide
        +picture-png-webp("product-small-2", 84, 84, "Slide")
      li.product-gallery__thumbs-item.swiper-slide
        +picture-png-webp("product-small-1", 84, 84, "Slide")

  button.product-gallery__nav.product-gallery__nav--prev(type="button" title="Предыдущий слайд")
  button.product-gallery__nav.product-gallery__nav--next(type="button" title="Следующий слайд")
