section.product
  .container
    h1.page-title Стайлер Dyson Airwrap™ для разных типов длинных волос
    .product__wrapper
      .product__gallery
        include product-gallery
      .product__description
        include product-description
      .product__info
        include product-info
  .product__tabs
    include product-tabs

  section.product__cards
    .container
      h2.page-title С этим товаром покупают
    .container.container--np
      include ../cards-slider/cards-slider
