.product-info {
  width: 100%;
  min-width: 290px;
  margin-bottom: 40px;
  padding: 35px 40px 15px;

  background-color: $white;

  @media (max-width: $desktop) {
    padding: 30px 15px 10px;
  }

  @media (max-width: $tablet) {
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-start;
    align-items: flex-start;
  }

  @media (max-width: $mobile) {
    flex-direction: column;
  }

  &__container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;

    @media (max-width: $tablet) {
      width: 48%;
      padding-right: 10%;
    }

    @media (max-width: $mobile) {
      width: 100%;
      padding-right: 0;
    }
  }

  &__availability {
    position: relative;

    width: 100%;
    margin-bottom: 50px;
    padding-left: 40px;

    @include font-r(13px, 1.2, $black-3);

    &::before {
      position: absolute;
      top: 1px;
      left: 0;

      width: 12px;
      height: 12px;

      border: 3px solid $green;
      border-radius: 50%;

      content: "";
    }
  }

  &__price {
    display: inline-flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;

    width: 100%;
    margin-bottom: 25px;
  }

  &__old-price {
    margin: 0 0 10px;
    padding: 0;

    @include font-r(24px, 1.2, $grey-12);
    text-decoration: line-through;
  }

  &__current-price {
    margin: 0 16px 10px 0;
    padding: 0;

    @include font-m(30px, 1.2, $black);
  }

  &__advantages {
    width: 100%;
    margin-bottom: 15px;

    p {
      position: relative;

      width: 100%;
      margin: 0 0 25px;
      padding: 0 0 0 40px;

      @include font-r(13px, 1.2, $black-8);

      &::before {
        position: absolute;
        top: 3px;
        left: 0;

        width: 8px;
        height: 8px;

        background-color: $fuchsia;
        border-radius: 50%;

        content: "";
      }
    }
  }

  &__btn {
    position: relative;

    display: flex;
    justify-content: center;
    align-items: center;

    width: 100%;
    padding: 20px 20px 20px 30px;
    margin: 0 0 15px;

    @include font-sb(19px, 1.2, $white);
    text-decoration: none;

    border: none;

    transition: background-color;
    transition-duration: 0.3s;

    cursor: pointer;

    &:active {
      opacity: 0.5;
    }

    &:hover,
    &:focus {
      background-color: $violet;
    }

    &:disabled {
      color: #f8f5f5;

      background-color: #ebebeb;
      border-color: #ebebeb;

      cursor: default;
    }

    &--cart {
      padding-right: 25px;

      background-color: $fuchsia;

      svg {
        width: 23px;
        height: 23px;
      }
    }

    &--buy {
      background-color: $green;

      svg {
        width: 18px;
        height: 26px;
      }
    }

    svg,
    img {
      position: absolute;
      top: 18px;
      left: 22px;

      fill: $white;
    }
  }
}
