.drop-menu.js-hide.js-drop-menu
  ul.drop-menu__list
    li.drop-menu__item
      a.drop-menu__link(href="#") Стайлер для волос Dyson Airwrap™
    li.drop-menu__item
      a.drop-menu__link(href="#") Стайлер для волос Dyson Airwrap™
    li.drop-menu__item
      a.drop-menu__link(href="#") Фен для волос Dyson Supersonic™
    li.drop-menu__item
      a.drop-menu__link(href="#") Фен для волос Dyson Supersonic™
    li.drop-menu__item
      a.drop-menu__link(href="#") СФен для волос Dyson Supersonic™ профессиональная версия
    li.drop-menu__item
      a.drop-menu__link(href="#") Фен для волос Dyson Supersonic™ профессиональная версия
    li.drop-menu__item
      a.drop-menu__link(href="#") Насадки для фена и стайлера
    li.drop-menu__item
      a.drop-menu__link(href="#") Насадки для фена и стайлера
