header.header
  .container
    nav.header__nav
      .header__menu
        button.header__menu-btn.js-mobile-menu-btn(type="button" title="Открыть меню")
          span
          span
          span
        a.header__logo(href="#" title="Логотип Dysons")
          +svg("logo", 133, 34)

        .header__phones
          a.header__phone(href="tel:+74957732285") +7 (495) 773-22-85

        .header__search
          form
            button(type="submit" title="Найти")
              +svg("loupe", 13, 13)
            input(type="search" placeholder="Поиск" name="search" id="search")
            label.visually-hidden(for="search")

        a.header__cart(href="#" title="Корзина")
          +svg("cart", 35, 35)
          span.header__cart-number 2
          span.header__cart-price 145 150 ₽
          p Корзина

    .header__main-menu.main-menu
      ul.main-menu__list
        each item in menuItems
          li.main-menu__item.js-drop-item
            a.main-menu__link(href="#") !{item}
            include ../drop-menu/drop-menu
