.cards-slider
  button.cards-slider__prev.button-arrow.button-arrow--prev(type="button" title="Предыдущий слайд")
  button.cards-slider__next.button-arrow.button-arrow--next(type="button" title="Следующий слайд")
  .container
    .cards-slider__wrapper
      ul.cards.cards-slider__list.swiper-wrapper
        li.cards__item.cards-slider__item.swiper-slide(tabindex="0")
          .cards__content
            a.cards__img(href="#")
              +picture-png-webp("card-1", 350, 330, "Фен Dyson Supersonic для волос")
            .cards__info
              a.cards__title(href="#") Фен Dyson Supersonic для волос
              .cards__price
                .cards__price-container
                  span.cards__current-price 35 500 <span>₽</span>
                button.cards__cart.js-card-cart(type="button") В корзину
                  +svg("cart", 26, 26)

        li.cards__item.cards-slider__item.swiper-slide(tabindex="0")
          .cards__content
            a.cards__img(href="#")
              +picture-png-webp("card-1", 350, 330, "Фен Dyson Supersonic для волос")
            .cards__info
              a.cards__title(href="#") Фен Dyson Supersonic для волос
              .cards__price
                .cards__price-container
                  span.cards__current-price 35 500 <span>₽</span>
                button.cards__cart.js-card-cart(type="button") В корзину
                  +svg("cart", 26, 26)
        li.cards__item.cards-slider__item.swiper-slide(tabindex="0")
          .cards__content
            a.cards__img(href="#")
              +picture-png-webp("card-1", 350, 330, "Фен Dyson Supersonic для волос")
            .cards__info
              a.cards__title(href="#") Фен Dyson Supersonic для волос
              .cards__price
                .cards__price-container
                  span.cards__current-price 35 500 <span>₽</span>
                button.cards__cart.js-card-cart(type="button") В корзину
                  +svg("cart", 26, 26)
        li.cards__item.cards-slider__item.swiper-slide(tabindex="0")
          .cards__content
            a.cards__img(href="#")
              +picture-png-webp("card-1", 350, 330, "Фен Dyson Supersonic для волос")
            .cards__info
              a.cards__title(href="#") Фен Dyson Supersonic для волос
              .cards__price
                .cards__price-container
                  span.cards__current-price 35 500 <span>₽</span>
                button.cards__cart.js-card-cart(type="button") В корзину
                  +svg("cart", 26, 26)
        li.cards__item.cards-slider__item.swiper-slide(tabindex="0")
          .cards__content
            a.cards__img(href="#")
              +picture-png-webp("card-1", 350, 330, "Фен Dyson Supersonic для волос")
            .cards__info
              a.cards__title(href="#") Фен Dyson Supersonic для волос
              .cards__price
                .cards__price-container
                  span.cards__current-price 35 500 <span>₽</span>
                button.cards__cart.js-card-cart(type="button") В корзину
                  +svg("cart", 26, 26)
        li.cards__item.cards-slider__item.swiper-slide(tabindex="0")
          .cards__content
            a.cards__img(href="#")
              +picture-png-webp("card-1", 350, 330, "Фен Dyson Supersonic для волос")
            .cards__info
              a.cards__title(href="#") Фен Dyson Supersonic для волос
              .cards__price
                .cards__price-container
                  span.cards__current-price 35 500 <span>₽</span>
                button.cards__cart.js-card-cart(type="button") В корзину
                  +svg("cart", 26, 26)
