.footer {
  width: 100%;
  margin-top: auto;
  padding-bottom: 65px;
  color: $grey-3;

  background-color: $black-2;

  @media (max-width: $mobile) {
    position: relative;

    padding-top: 108px;
    padding-bottom: 40px;
  }

  &__content {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;

    width: 100%;
    padding: 50px 15px 20px;

    border-top: 2px solid $black-7;

    @media (max-width: $tablet) {
      padding-left: 10px;
      padding-right: 10px;
      padding-bottom: 30px;
    }

    @media (max-width: $mobile) {
      flex-wrap: wrap;

      padding-bottom: 10px;
    }
  }

  &__left {
    width: 43%;
    min-width: 320px;
    padding-right: 15px;

    @media (max-width: $mobile) {
      min-width: 0;
      width: 100%;
    }
  }

  &__rigth {
   width: 57%;
   min-width: 320px;

   @media (max-width: $mobile) {
      min-width: 0;
      width: 100%;
    }
  }

  &__logo {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 133px;
    height: 34px;
    margin-bottom: 25px;

    @media (max-width: $tablet) {
      margin-right: 45px;
    }

    @media (max-width: $mobile) {
      position: absolute;
      top: 42px;
    }

    svg {
      width: 100%;
      height: auto;

      fill: $white;
    }
  }

  &__phones {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    flex-shrink: 0;

    width: 215px;

    @media (max-width: $tablet) {
      margin-right: 40px;
    }

    @media (max-width: $mobile) {
      order: 2;

      margin-right: 0;
      margin-bottom: 20px;
    }

    p {
      margin: 0 0 15px;
      padding: 0;

      @include font-r(16px, 1.2, $grey-4);
    }
  }

  &__phone {
    display: inline-flex;
    justify-content: flex-start;
    align-items: center;

    @include font-r(20px, 1.8, $white);
    text-decoration: none;

    transition-property: color, opacity;
    transition-duration: 0.3s;

    &:hover,
    &:focus {
      color: $fuchsia;
    }

    &:active {
      opacity: 0.5;
    }
  }

  &__text {
    max-width: 710px;
    width: 100%;
    margin: 0;
    padding: 0;

    @include font-r(13px, 18px, #808080);

    a {
      color: #808080;
      text-decoration: none;

      transition-property: color, opacity;
      transition-duration: 0.3s;

      &:hover,
      &:focus {
        color: #ffffff;
      }

      &:active {
        opacity: 0.5;
      }
    }
  }

  &__copyright {
    padding: 20px 15px;

    @media (max-width: $mobile) {
      padding: 20px 10px;
    }
  }
}
