.blog
  .container
    ul.blog__list
      li.blog__item
        a.blog__img(href="#")
           +picture-png-webp("blog-1", 540, 340, "Фен Dyson Supersonic для волос")
        a.blog__title(href="#") Станьте обладателем эксклюзивных товаров Dyson
        p.blog__text Закажите консультацию по технологиям Dyson в удобном для вас формате. Теперь вам доступны наши новые сервисы: консультация по телефону, онлайн видео-демонстрация или персональная демонстрация продукта
      li.blog__item
        a.blog__img(href="#")
           +picture-png-webp("blog-2", 540, 340, "Фен Dyson Supersonic для волос")
        a.blog__title(href="#") Зарегистрируйте свое устройство Dyson
        p.blog__text Это позволит нам оперативно оказать вам помощь, в случае возникновения неполадок
