extends pug/layout

block variables
  -let title = "Уход за волосами";

block content
  .pagination
    .container
      ul.pagination__list
        li.pagination__item
          a.pagination__link(href="main.html") Магазин
        li.pagination__item
          a.pagination__link(href="#") Корзина
        li.pagination__item
          a.pagination__link(href="#") Оформление заказа

  main
    include components/cart/cart
