.banners
  .container
    .banners__wrapper
      .banners__row
        .banners__column
          a.banners__link(href="#")
            .banners__content
              +picture-png-webp("banner-hairdryers", 553, 555)
              p.banners__text Фены
        .banners__column
           a.banners__link.banners__link--small(href="#")
            .banners__content
              +picture-png-webp("banner-styling-tool", 555, 276)
              p.banners__text Стайлеры
           a.banners__link.banners__link--small(href="#")
            .banners__content
              +picture-png-webp("banner-humidifier", 555, 276)
              p.banners__text Увлажнители

